.rodape {
    border-top: .7px solid white;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: .5em;
}

.rodape h1 {
    align-self: center;
    color: white;
    text-shadow:1px 1px black;
}

.rodape h1 span{
    color: rgb(204, 98, 204);
    text-shadow:1px 1px black;
}

.icones {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    align-self: center;
}

.icones li {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.icones a {
    color: white;
    transition: 1.2s;
}

.icones a:hover {
    color: rgb(204, 98, 204);
}

@media(min-width: 319px) and (max-width: 425px){
    .rodape h1 {
        font-size: 1.5em;
        margin-left: 10%;
    }
}