.navbar {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    background-color: transparent;
    border-bottom: .7px solid white;
    margin-bottom: 2%;
    height: 70px;
}

.logo {
    text-decoration: none;
    margin-left: 2em;
    font-size: 1.2em;
    color: white;
    text-shadow:1px 1px black;
}

.list {
    list-style: none;
    display: flex;
    margin-left: 3em;
}

.item {
    text-decoration: none;
    margin-right: 1.5em;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    text-shadow:-1px 1px black;
}

.logo:hover, .item:hover {
    color: rgb(195, 167, 211);
    text-shadow:1px 1px rgb(42, 89, 243);
}