.navbar {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    background-color: transparent;
    border-bottom: .7px solid white;
    margin-bottom: 2%;
    height: 70px;
}

.logo {
    text-decoration: none;
    margin-left: 2em;
    font-size: 1.2em;
    color: white;
    text-shadow:1px 1px black;
    transition: 1.2s;
}

.list {
    list-style: none;
    display: flex;
    margin-left: 3em;
}

.item {
    text-decoration: none;
    margin-right: 1.5em;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    text-shadow:-1px 1px black;
    transition: 1.2s;
}

.logo:hover, .item:hover {
    color: rgb(204, 98, 204);
    text-shadow:1px 1px black;
}

@media(min-width: 319px) and (max-width: 425px){
    .logo {
        font-size: 1em;
    }

    .item {
        font-size: .95em;
    }
}